@charset "UTF-8";
html,
body {
  width: 100%;
  font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  background: #1e1e1e;
}
input,
button,
textarea {
  font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
}
input::-webkit-cancel-button {
  display: none;
}
input::-ms-clear {
  display: none;
}
input[type=text]:focus {
  box-shadow: none;
}
input[type=search]::-ms-clear {
  display: none;
}
* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
img {
  display: block;
  max-width: 100%;
}
#warp {
  position: relative;
  width: 100%;
}
.warp_fix {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(../images/question/warp_bg.jpg) center top no-repeat;
  background-size: 100% 100%;
}
.warp_fix img {
  display: none;
}
.tion_list {
  position: relative;
  width: 89.375%;
  margin: 22px auto 0px;
  padding-bottom: 2.46428571rem;
  z-index: 66;
  background: rgba(0, 0, 0, 0.6);
}
.tion_list h2 {
  width: 100%;
  height: 0.98214286rem;
  margin: 0 auto;
  line-height: 0.98214286rem;
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
  background: url(../images/question/list_title.png) center top no-repeat;
  background-size: 100% 100%;
}
.tion_list ul {
  width: 100%;
  margin: 0 auto;
}
.tion_list li {
  width: 100%;
  padding-top: 0.39285714rem;
  padding-bottom: 0.14285714rem;
  padding-left: 5.3125%;
  background: url(../images/question/list_bg.png) center bottom no-repeat;
  background-size: 100% auto;
}
.tion_list li p {
  font-size: 0.42857143rem;
  color: #fff;
}
.tion_list li span {
  display: inline-block;
  padding-right: 4.6875%;
}
.tion_list li a {
  float: right;
  display: block;
  width: 29.0625%;
  padding-top: 0.28571429rem;
  padding-right: 1.5625%;
}
.list_bom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2.46428571rem;
  z-index: 88;
  background: url(../images/question/bom.png) center bottom no-repeat;
  background-size: 100% 100%;
}
.list_bom .btn_arrow {
  position: absolute;
  bottom: 0.28571429rem;
  left: 15.9375%;
  display: inline-block;
  width: 11.5625%;
}
.list_bom .btn_ask {
  position: absolute;
  bottom: 0.28571429rem;
  right: 15%;
  display: inline-block;
  width: 11.5625%;
}
.answer_title {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0.35714286rem;
  background: #4f2651;
}
.answer_title .answer_txt {
  padding-top: 0.39285714rem;
  padding-left: 5.3125%;
  font-size: 0.42857143rem;
  color: #fff;
}
.answer_box .answer_list {
  padding-top: 0.67857143rem;
  padding-bottom: 0.42857143rem;
  border-bottom: solid 2px #000;
}
.answer_box .answer_l {
  float: left;
  display: inline-block;
  width: 67.1875%;
  padding-left: 5.3125%;
}
.answer_box .answer_l h3 {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: top;
}
.answer_box .answer_l .answer_con {
  display: inline-block;
  width: 74%;
  padding-left: 14px;
  vertical-align: middle;
}
.answer_box .answer_l .answer_con p:nth-child(1) {
  padding-bottom: 0.14285714rem;
  font-size: 0.42857143rem;
  color: #b054d1;
}
.answer_box .answer_l .answer_con p:nth-child(2) {
  font-size: 0.32142857rem;
  color: #fff;
  word-break: break-all;
}
.answer_box .answer_r {
  float: right;
  display: inline-block;
  padding-right: 7.5%;
  vertical-align: top;
}
.answer_box .answer_r p:nth-child(1) {
  font-size: 0.25rem;
  color: #fff;
}
.answer_box .answer_r .answer_zan {
  width: 50px;
  height: 24px;
  margin-top: 0.46428571rem;
  font-size: 0.28571429rem;
  padding-right: 7px;
  line-height: 24px;
  color: #fff5f5;
  text-align: right;
  background: url(../images/question/zan_1.png) center top no-repeat;
  background-size: 100% 100%;
}
.answer_box .answer_r .zan_action {
  background: url(../images/question/zan_2.png) center top no-repeat;
  background-size: 100% 100%;
}
.answer_pos {
  position: fixed;
  bottom: 2.07142857rem;
  width: 89.5%;
  padding-bottom: 0.44642857rem;
  padding-left: 3.125%;
  padding-right: 3.125%;
  background: #48474e;
}
.answer_pos .answer_bor {
  border-bottom: solid 2px #ababaf;
}
.answer_pos input {
  width: 77%;
  height: 40px;
  padding-left: 3.125%;
  padding-right: 3.125%;
  font-size: 0.39285714rem;
  color: #fff;
  background: none;
  border: 0px;
}
.answer_pos a {
  position: absolute;
  bottom: 0.64285714rem;
  right: 10px;
  display: inline-block;
  width: 19.0625%;
}
.susser_fn {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 666;
}
.susser_fn .susser_box {
  position: relative;
  width: 66.25%;
  margin: 125px auto 0px;
  border-radius: 5px;
  background: #fff;
}
.susser_fn .susser_box .susser_close {
  position: absolute;
  top: 0.5rem;
  right: 4.375%;
  display: inline-block;
  width: 8.125%;
}
.susser_fn .susser_box h2 {
  padding-top: 0.39285714rem;
  padding-bottom: 0.39285714rem;
  font-size: 0.625rem;
  color: #fff;
  text-align: center;
  background: #4f2651;
  border-radius: 5px 5px 0px 0px;
}
.susser_fn .susser_box .susser_menu {
  padding-top: 0.32142857rem;
  padding-bottom: 0.75rem;
  text-align: center;
}
.susser_fn .susser_box .susser_menu span {
  display: block;
  width: 18.75%;
  margin: 0 auto;
}
.susser_fn .susser_box .susser_menu p {
  padding-top: 0.5rem;
  font-size: 0.42857143rem;
  color: #000;
}
/*syy*/
.list_bom {
  height: 70px;
  background-image: url(../images/question/bom-2.png);
  background-size: 100% 100%;
}
.list_bom .logo {
  position: absolute;
  left: 30%;
  bottom: 5px;
  height: 50px;
  width: 40%;
  background: url(../images/question/a-btn.png) no-repeat center center;
  background-size: contain;
}
.list_bom .btn_ask,
.list_bom .btn_arrow {
  text-align: center;
  width: 30%;
  bottom: 10px;
}
.list_bom .btn_arrow {
  left: 0%;
}
.list_bom .btn_ask {
  right: 0;
  left: 70%;
}
.list_bom .btn_ask img,
.list_bom .btn_arrow img {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.tion_list {
  background-color: rgba(255, 255, 255, 0);
}
.answer_box {
  background-color: rgba(0, 0, 0, 0.6);
}
.hide {
  display: none;
}
